@import 'mixins';

@mixin full {
	position: absolute;
	width: 100%;
}

$color:#6fb200;
$colorInverted:#FFF;
$cartWidth: 80px;
$logoHeight: 50px;
$timingFunction:150ms;
$marginSide:14px;
$marginDown:10px;

a {
	text-decoration: none;
	outline: none;
}
p,h1,h2,h3,h4 {
	margin: 6px $marginSide $marginDown;
}
h1 { font-size: 1.8em; }
h4 { font-size: 1.2em; }
p { text-align: justify; line-height: 1.3em; }

body {
	font-size: 14px;
	padding: 0;
	margin: 0;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
}

header {
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	.logo {
		display: block;
		height: $logoHeight;
		background: $color;
	}
	.nav {
		margin-right: $cartWidth;
		height: $logoHeight;
		background: #333;
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: 100;
		.notification {
			@include full;
			background: #FFD688;
			.header {
				margin: 6px 6px 0;
				padding: 2px;
				display: block;
				background-color: #FF8040;
				color: #FFF;
			}
			@include Opacity(0);
			@include transition(all, $timingFunction, linear, 0ms);
			&.show {
				@include Opacity(100);
				@include transform(translate(0,-100%));
			}
		}
		ul {
			position: absolute;
			height: 100%;
			width: 100%;
			li {
				float: left;
				width: 25%;
				height: 100%;
				position: relative;
				a {
					text-align: center;
					color: #FFF;
					background: #333;
					height: 100%;
					display: block;
					line-height: $logoHeight;
					width: 100%;
					margin: 0 auto;
					background-size: auto 50%;
					background-repeat: no-repeat;
					background-position: center;
					i {
						display: block;
						width: 8px;
						height: 8px;
						background-color: $color;
						margin: 0 auto;
						position: relative;
						top: 0px;
						@include Opacity(0);
						@include transform(rotate(45deg));
						background: #333;
						@include transition(all, $timingFunction, linear,0ms);
					}
					&.icon {
						@include transition(all, $timingFunction, linear,0ms);
						&.identity { background-image: url('../img/icon/identity.png'); }
						&.location { background-image: url('../img/icon/location.png'); }
						&.payment { background-image: url('../img/icon/payment.png'); }
						&.confirm { background-image: url('../img/icon/sendpack.png'); }
					}
					&:hover,&.active {
						background-color: $color;
						&.icon {
						}
						i {
							@include Opacity(100);
							background-color: $color;
							top: -4px;
						}
					}
				}
			}
		}
	}
}

aside {
	&.cart {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #FFF;
		top: 0;
		z-index: 9999;
		@include transition(all, $timingFunction, linear,0ms);
		@include transform(translate(100%,0));
	}
	&.show {
		@include transform(translate(0,0));
		.icon {
			background-color: #F9F;
			position: fixed;
			right: 0;
			top: 0;
			left: 0;
			width: 100%;
			a {
				background-position: 20px center;
				background-image: url('../img/icon/cart-black.png');
				span {
					display: inline-block;
					@include Opacity(100);
				}
			}
		}
	}
	.icon {
		@include transition(all, $timingFunction, linear,0ms);
		height: $logoHeight;
		background: $color;
		width: $cartWidth;
		position: absolute;
		background-color: none;
		top:0;
		left: -$cartWidth;
		a {
			color: #000;
			line-height: $logoHeight;
			position: absolute;
			top:0;
			right: 0;
			width: 100%;
			height: 100%;
			background-size: auto 60%;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('../img/icon/cart.png');
			font-size: 1.5em;
			span {
				padding-left: $cartWidth;
				white-space: nowrap;
				display: none;
				@include Opacity(0);
			}
		}
	}
	.scroll {
		width: 100%;
		height: 100%;
		overflow: scroll;
		ul {
			margin-top: $logoHeight;
			li {
				display: block;
				color: #000;
				.item {
					padding: 8px;
					.img {
						display: block;
						float: left;
						height: 32px;
						width: 32px;
						background-image: url('../img/icon/confirm-black.png');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						margin: 0 8px 8px 0;
					}
				}
			}
		}
	}
}
$minHeight:300px;
$widthAside:25%;
.container {
    overflow:hidden;
	position:absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	section {
		background: #FFF;
		height: 100%;
		width: 100%;
		top:0;
		left:0;
		position:absolute;
		overflow: auto;
		.wrap {
			margin: $logoHeight*1.2 0;
			.scroll {
			}
		}
	}
}
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #555;
	z-index: 1000;
}

.field {
	margin: 6px $marginSide $marginDown;
	label {
		display:  block;
		margin-bottom: $marginDown;
	}
	input[type=text] {
		border: none;
		display: block;
		border: none;
		width: 97%;
		padding: 1%;
		outline: none;
		margin: 0 auto;
		position: relative;
		border-bottom: 1px solid #666;
	}
}